* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
}

p {
    font-family: 'Roboto Slab', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    background: #3d3e3f;
}

.main-nav {
    display: flex;
    list-style: none;
}

.main-nav li a {
    text-decoration: none;
    padding: 8px;
    color: #CB8C35;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 18px;
}

.main-nav li a:hover {
    color: white;
}

.intro {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../Images/pexels-fauxels-3184464.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.intro {
    position: relative;
}

.right {
    float: right;
    width: 45%;
    position: absolute;
    top: 180px;
    right: 50px;
}

.right h1 {
    color: black;
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.right h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.right p {
    color: white;
    font-size: 15px;
    line-height: 23px;
}

.right a {
    font-size: 18px;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 10px;
    color: white;
    font-family: 'Jura', sans-serif;
}

.right a:hover {
    color: black;
    background: white;
}

video {
    position: absolute;
    top: 100px;
    left: 50px;
    border-left: #CB8C35 solid 15px;
}

.announcment {
    padding: 20px 50px;
    background-color: rgb(118, 210, 118);
    color: white;
    font-size: 20px;
    text-align: center;
}

.announcment a {
    color: black;
    text-decoration: underline;
    padding: 7px;
    opacity: 0.5;
}

.announcment a:hover {
    color: white;
    border-radius: 10px;
}

.services {
    padding: 40px 0;
    margin-bottom: 30px;
}

.services h2 {
    color: black;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.services p {
    color: black;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    font-weight: lighter;
}

.solution img {
    width: 90%;
    margin-top: 40px;
}

.solution h3 {
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.solution p {
    text-align: left;
    margin-bottom: 15px;
}

.solution ul {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: smaller;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}

.solution a {
    text-decoration: none;
    border: #3d3e3f solid 2px;
    background: #3d3e3f;
    padding: 10px 30px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.solution a:hover {
    padding: 10px 30px;
    color: #3d3e3f;
    background: none;
}

.experience {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
}

.exp-left {
    width: 50%;
    padding: 50px;
}

.exp-right {
    float: right;
    padding: 50px;
}

.experience h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.experience p {
    color: white;
    font-size: 15px;
    line-height: 23px;
}

.experience .info {
    font-size: 15px;
    color: white;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif;
}

.experience span {
    font-size: 60px;
    color: #CB8C35;
    font-weight: bold;
    padding-bottom: 15px;
}

.partners {
    padding: 50px;
}

.partners h2 {
    color: black;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.partners img {
    width: 100%;
}

.clients {
    padding: 40px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/pexels-fauxels-3184669.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.clients img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.clients h2 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.clients p {
    font-size: 15px;
    line-height: 23px;
    margin: 15px 0;
}

.clients h4 {
    font-size: small;
}

#contact {
    padding: 30px 0;
}

form {
    width: 100%;
    background-image: linear-gradient(#493d2c73, #cb8c3573);
    padding: 10px 0;
    padding-left: 30px;
    font-family: 'Roboto Slab', serif;
    border-right: rgba(0, 0, 0, 0.4) 10px solid;
    border-radius: 25px;
    
}

input[type=text],
input[type=email],
select,
textarea,
placeholder {
    margin-bottom: 13px;
    width: 100%;
    padding: 5px;
    border: solid 2px #ddd;
    border-radius: 6px;
    font-size: 18px;
    outline-color: black;
    font-family: 'Roboto Slab', serif;
}

form button {
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    border: black 2px solid;
    background: black;
    margin-left: 5px;
    color: white;
    opacity: 0.5;

}

form button:hover {
    color: black;
    background: none;
}

footer {
    background: #3d3e3f;
    text-align: center;
    color: white;
    padding: 25px 0px;
}

footer span {
    color: red;
}

.last-nav {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    color: white;
    padding-bottom: 15px;
}

.last-nav li {
    margin: 0px 10px;
}

.last-nav li a {
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 40px;
}

.last-nav li a:hover {
    color: red;
    text-decoration: underline;
}